//
//  Debug.xcconfig
//  Animation_groups
//
//  Created by Dzmitry Kopats on 4/3/20.
//  Copyright © 2020 Dzmitry Kopats. All rights reserved.
//

HS_APP_NAME = Hamster Debug
HS_APP_VERSION = 0.3
HS_APP_BUNDLE_ID = com.dmitryKopats.HamsterDebug
HS_APP_ICON = AppIconDebug

BACKEND_URL = http:\/\/api.intensifystudio.com/development
CONSUMER_KEY = ck_a57e4fa2e14c12ae3f400371cf2951ec3dea5_dev
CONSUMER_SECRET = cs_c847caa35ce1041e9c69d239141f13f63bb22b_dev
