//
//  Staging.xcconfig
//  Animation_groups
//
//  Created by Dzmitry Kopats on 4/3/20.
//  Copyright © 2020 Dzmitry Kopats. All rights reserved.
//

HS_APP_NAME = Hamster Staging
HS_APP_VERSION = 0.2
HS_APP_BUNDLE_ID = com.dmitryKopats.HamsterStaging
HS_APP_ICON = AppIconStaging

BACKEND_URL = http:\/\/api.intensifystudio.com/staging
CONSUMER_KEY = ck_a57e4fa2e14c12f400371cf2951ec3dea5_staging
CONSUMER_SECRET = cs_c847caa35ce1041e9c69d239141f13f63bb22b_staging

HS_TARGET_SWIFT_FLAGS = STAGING
